.planetWrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.image {
    overflow: hidden;
    height: 250px;
    width: 250px;

}

.description {
    font-size: 20px;
}

.key {
    text-decoration: underline;
    color: #60a85f
}

.value {

}