.list {
    display: flex;
    list-style: none;
    gap: 42px;
    font-size: 30px;
    color: #60a85f;
    text-shadow: 1px 1px 2px #88e23b;
}

.list li a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    .list {
        font-size: 24px;
        gap: 30px;
    }
}

@media (max-width: 599px) {
    .list {
        gap: 12px;
        font-size: 20px;
    }
}
